projectsDirectoryPath: 'c:/projects/bcs-test/'
historyLimit: 10
projectStandMap:
  BCS_JOURNAL:
    serviceUrl: http://bcs-services.bscmsc.ru/journal_master/
    dataBase:
      url: jdbc:oracle:thin:@10.2.9.114:1521:GFODB
      user: BCS_JOURNAL
      password: a
    wireMockUrl: ''
  BCS_PREMIER:
    serviceUrl: http://master-rest-at.bcs-premier-fe.bscmsc.ru/
    dataBase:
      url: jdbc:oracle:thin:@atest.bscmsc.ru:1521:GFODB
      user: BCS_AT_GFO
      password: a
    wireMockUrl: http://10.2.9.14:8082/bsc-wire-mock
    amqpBroker:
      host: soapserver4.bscmsc.ru
      mqService: RABBIT_MQ
      password: guest
      port: 5672
      username: guest