<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

	<logger name="ru.bsc.test.at.executor.helper.HttpClient" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="ru.bsc.test.at.model.Version" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
</configuration>